assets/schema/module/1.0.xsd

<?xml version="1.0"?>
<xsd:schema 
	targetNamespace="http://schema.slothsoft.net/farah/module"
	xmlns="http://schema.slothsoft.net/farah/module" 
	xmlns:sfm="http://schema.slothsoft.net/farah/module"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">
	
	<xsd:annotation>
		<xsd:documentation><![CDATA[
Schema    : Farah Module Manifest
Version   : 1.0
Revision  : R20180402
Namespace : http://schema.slothsoft.net/farah/module
Author    : Daniel Schulz (daniel.lio.schulz@gmail.com)

*** Version 1.0 ***
	R20180402
		- initial release
		]]></xsd:documentation>
	</xsd:annotation>
	
	<xsd:attributeGroup name="schemaVersion">
		<xsd:attribute name="version" type="xsd:token" use="required" fixed="1.0">
			<xsd:annotation>
				<xsd:documentation>The schema version used by the instance document.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>

	<!-- groups -->
	<xsd:group name="assets">
		<xsd:choice>
			<xsd:group ref="virtual-assets" />
			<xsd:group ref="physical-assets" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="virtual-assets">
		<xsd:choice>
			<xsd:element ref="fragment" />
			<xsd:element ref="custom-asset" />
			<xsd:element ref="external-resource" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="physical-assets">
		<xsd:choice>
			<xsd:element ref="directory" />
			<xsd:element ref="resource" />
			<xsd:element ref="resource-directory" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="runtime-assets">
		<xsd:choice>
			<xsd:element ref="closure" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="asset-meta">
		<xsd:choice>
			<xsd:element ref="import" />
			<xsd:element ref="use-document" />
			<xsd:element ref="use-template" />
			<xsd:element ref="link-stylesheet" />
			<xsd:element ref="link-script" />
			<xsd:element ref="param-filter" />
			<xsd:element ref="param" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="fragment-meta">
		<xsd:choice>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="reference-meta">
		<xsd:choice>
			<xsd:element ref="param" />
		</xsd:choice>
	</xsd:group>

	<xsd:group name="resource-meta">
		<xsd:choice>
			<xsd:element ref="source" />
			<xsd:element ref="options" />
		</xsd:choice>
	</xsd:group>
	
	
	
	<!-- root element -->
	<xsd:element name="assets">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="module-node">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="assets" />
						<xsd:group ref="asset-meta" />
					</xsd:choice>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- virtual assets -->
	<xsd:element name="fragment">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="virtual-asset">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="virtual-assets" />
						<xsd:group ref="asset-meta" />
						<xsd:group ref="fragment-meta" />
					</xsd:choice>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="custom-asset">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="virtual-asset">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="virtual-assets" />
						<xsd:group ref="asset-meta" />
					</xsd:choice>
					<xsd:attribute name="class" type="phpClass" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="external-resource">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="virtual-asset">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="asset-meta" />
						<xsd:group ref="resource-meta" />
					</xsd:choice>
					<xsd:attribute name="type" type="mimeType" use="required" />
					<xsd:attribute name="src" type="wwwUrl" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="closure">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="virtual-asset"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>



	<!-- physical assets -->
	<xsd:element name="resource">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="physical-asset">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="asset-meta" />
						<xsd:group ref="resource-meta" />
					</xsd:choice>
					<xsd:attribute name="type" type="mimeType" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="resource-directory">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="physical-asset">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="assets" />
						<xsd:group ref="asset-meta" />
						<xsd:group ref="resource-meta" />
					</xsd:choice>
					<xsd:attribute name="type" type="mimeType" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="directory">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="physical-asset">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="assets" />
						<xsd:group ref="asset-meta" />
					</xsd:choice>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<!-- meta nodes -->
	<xsd:element name="import">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="asset-reference" />
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="use-document">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="asset-reference">
					<xsd:attribute name="as" type="farahUrlPathSegment" use="optional" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="use-template">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="asset-reference" />
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="link-stylesheet">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="asset-reference" />
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="link-script">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="asset-reference" />
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="param">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="meta">
					<xsd:attribute name="name" type="farahUrlArgumentName" use="required" />
					<xsd:attribute name="value" type="farahUrlArgumentValue" use="optional" />
					<xsd:attribute name="scope" type="xsd:normalizedString" use="optional" />
					<xsd:attribute name="type" type="xsd:normalizedString" use="optional" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="param-filter">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="meta">
					<xsd:anyAttribute processContents="lax" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="options">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="meta">
					<xsd:anyAttribute processContents="lax" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="source">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="meta">
					<xsd:attribute name="href" type="wwwUrl" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>




	<!-- element types -->
	<xsd:complexType name="module-node" abstract="true">
	</xsd:complexType>
	<xsd:complexType name="virtual-asset" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="module-node">
				<xsd:attribute name="name" type="farahUrlPathSegment" use="required" />
				<xsd:attribute name="assetpath" type="farahUrlPath" use="optional" />
				<xsd:attribute name="use" type="assetUses" use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="physical-asset" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="virtual-asset">
				<xsd:attribute name="path" type="relativeFilesystemPath" use="optional" />
				<xsd:attribute name="realpath" type="absoluteFilesystemPath" use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="meta" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="module-node">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="asset-reference" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="meta">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:group ref="reference-meta" />
				</xsd:choice>
				<xsd:attribute name="ref" type="farahUrl" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>



	<!-- attribute types -->
	<xsd:simpleType name="farahUrl">
		<xsd:restriction base="xsd:anyURI">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="farahUrlPath">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[/\c+]+" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="farahUrlPathSegment">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\c+" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="farahUrlArgumentName">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="\c+" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="farahUrlArgumentValue">
		<xsd:restriction base="xsd:normalizedString" />
	</xsd:simpleType>

	<xsd:simpleType name="relativeFilesystemPath">
		<xsd:restriction base="xsd:normalizedString">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="absoluteFilesystemPath">
		<xsd:restriction base="xsd:normalizedString">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="phpClass">
		<xsd:restriction base="xsd:normalizedString">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="wwwUrl">
		<xsd:restriction base="xsd:anyURI">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="mimeType">
		<xsd:restriction base="xsd:normalizedString">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="assetUses">
		<xsd:list itemType="assetUse"/>
	</xsd:simpleType>
	<xsd:simpleType name="assetUse">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="document"/>
			<xsd:enumeration value="template"/>
			<xsd:enumeration value="manifest"/>
			<xsd:enumeration value="script"/>
			<xsd:enumeration value="stylesheet"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
